@use "../abstact/mixins" as *;
@use "../abstact/functions" as *;
.van {
  display: block;
  border-radius: 20.572px;
  background: #fefefe;
  box-shadow: 0 80.575px 171.436px 0 rgba(21, 21, 21, 0.15);

  @include respond-up(xs) {
    padding: 30px;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% - 30px);
  }
  @include respond-up(md) {
    margin-left: auto;
    margin-right: auto;
    $elem: calc(get-container(md) - 15px);

    width: $elem;
  }
  @include respond-up(lg) {
    padding: 55px;
    max-width: 900px;
    width: 100%;
  }

  &-img {
    position: absolute;
    width: 100%;
    left: 0px;
    transform: translate(0px, 55%);

    @include respond-up(md) {
      top: 0px;
      transform: translate(0%, 0%);
    }
    @include respond-up(lg) {
      width: 400px;
      transform: translateX(-70px);
    }
    @include respond-up(xl) {
      top: 0px;
      width: 500px;
      transform: translateX(0px) translateY(-30px);
    }
    img {
      width: 100%;
      height: auto;
    }
  }

  &-quote {
    width: 40px;
    height: auto;
    margin-top: 10px;
    @include respond-up(md) {
      margin-top: 0px;
    }

    @include respond-up(lg) {
      width: auto;
      max-width: 60px;
    }
  }

  h5 {
    color: get-color(dark-text-color);
    font-size: 20.572px;
    font-style: normal;
    font-weight: 700;
    line-height: 166.6%; /* 34.274px */
    text-align: left;
  }
  p {
    margin-top: 10px;
    text-align: left;
    @include respond-up(lg) {
      padding-right: 100px;
    }
    @include respond-up(xl) {
      padding-right: 50px;
    }
  }
  .btn {
    @include respond-up(md) {
      transform: translateX(10px);
    }
    @include respond-up(xl) {
      transform: translateX(80%);
    }
  }
}
